body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #AAC1C0;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

a:link {
  color:#777
}

a:visited {
  color: lightgray;
}

a:hover {
  color:#AAC1C0;
  text-decoration: none;
}

a:active {
  color:#627E82;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  overflow: auto;
  color: #fff;
  background: #777;
  border-bottom: 8px solid #AAC1C0;
}


/* footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #AAC1C0;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 3px solid #ddd;
}

#connect {
  padding-top: 30px;
}

#connectTitle {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

#contactContainer {
  padding-bottom: 100px;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

/* .social:last-child {
  margin-right: 0;
} */

/* main */

#main-container {
  padding-top: 130px;
  margin-bottom: 100px;
}

#header-font {
  background-color: #666;
  color: white;
  font-weight: lighter;
}


/* .main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
} */


.img-fluid {
  max-height: 150px;
  width: auto;
}

.jumbotron .jumbotron-fluid {
  max-height: 150px;
  /* width: auto; */
}

.profileName {
  padding-top: 30px;
  height: 275px;
}

/* about page */
#resumeBackground {
  background-color:#666;
}

/* .col {
  position: relative;
  /* float: left; */
  /* width: 274px; */
  /* margin: 20px 0 25px; */

/* } */ 

/* .col:nth-child(even) {
  margin-right: 40px;
} */

#bioContent {
  align-content: center;
  background-color: #999999;
  font-size: 14pt;
}

#bioText {
  color: black;
  align-content: center;
}

#contactButton {
  align: center;
  background-color: #627E82;
  color: white;
}

.col img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.col h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #AAC1C0;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.card-text {
  text-align: center;
  color: white;
  font-weight: lighter;
}

.card-body {
  background-color: #666;
  width: 100%;
}

.card-header {
  width: 100%;
}

.portfolioCategories {
  position: center;
  /* margin-left: 50px; */
  margin-bottom: 30px;
}

.graphicCategories {
  /* padding-top: 100px; */
}

#projectRow0 {
  padding-left: 20px;
  padding-top: 0px;
}

#projectRow1 {
  padding-top: 100px;
  padding-left: 20px;
}

#projectRow2 {
  padding-top: 30px;
  padding-left: 20px;
}

#projectRow3 {
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 20px;
}

.img-thumbnail {
  width: 640px;
  height: auto;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #627E82;
  border: 0 none;
}

.profileInfo {
  text-align: center;
}
